<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="widget">
                    <div class="foot-logo">
                        <div class="logo">
                            <a href="index.html" title=""><img src="images/logo2.png" alt=""></a>
                        </div>
                        <p>
                            The trio took this simple idea and built it into the world’s leading carpooling platform.
                        </p>
                    </div>
                    <ul class="location">
                        <li>
                            <svg class="svg-inline--fa fa-location-dot" aria-hidden="true" focusable="false"
                                data-prefix="fa-regular" data-icon="location-dot" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M192 0C85.97 0 0 85.97 0 192c0 77.41 26.97 99.03 172.3 309.7C177 508.6 184.5 512 192 512s14.95-3.441 19.72-10.32C357 291 384 269.4 384 192C384 85.97 298 0 192 0zM192 445.8c-17.69-25.46-33.42-47.87-47.38-67.75C57.56 254.1 48 238.9 48 192c0-79.4 64.6-144 144-144s144 64.6 144 144c0 46.88-9.562 62.07-96.62 186.1C225.4 397.1 209.7 420.4 192 445.8zM192 111.1c-44.18 0-80 35.82-80 80S147.8 271.1 192 271.1c44.18 0 80-35.82 80-80S236.2 111.1 192 111.1zM192 224C174.4 224 160 209.6 160 192s14.36-32 32-32s32 14.36 32 32S209.6 224 192 224z">
                                </path>
                            </svg><!-- <i class="fa-regular fa-location-dot"></i> -->
                            <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                        </li>
                        <li>
                            <svg class="svg-inline--fa fa-phone" aria-hidden="true" focusable="false"
                                data-prefix="fa-regular" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M480.3 320.3L382.1 278.2c-21.41-9.281-46.64-3.109-61.2 14.95l-27.44 33.5c-44.78-25.75-82.29-63.25-108-107.1l33.55-27.48c17.91-14.62 24.09-39.7 15.02-61.05L191.7 31.53c-10.16-23.2-35.34-35.86-59.87-30.19l-91.25 21.06C16.7 27.86 0 48.83 0 73.39c0 241.9 196.7 438.6 438.6 438.6c24.56 0 45.53-16.69 50.1-40.53l21.06-91.34C516.4 355.5 503.6 330.3 480.3 320.3zM463.9 369.3l-21.09 91.41c-.4687 1.1-2.109 3.281-4.219 3.281c-215.4 0-390.6-175.2-390.6-390.6c0-2.094 1.297-3.734 3.344-4.203l91.34-21.08c.3125-.0781 .6406-.1094 .9531-.1094c1.734 0 3.359 1.047 4.047 2.609l42.14 98.33c.75 1.766 .25 3.828-1.25 5.062L139.8 193.1c-8.625 7.062-11.25 19.14-6.344 29.14c33.01 67.23 88.26 122.5 155.5 155.5c9.1 4.906 22.09 2.281 29.16-6.344l40.01-48.87c1.109-1.406 3.187-1.938 4.922-1.125l98.26 42.09C463.2 365.2 464.3 367.3 463.9 369.3z">
                                </path>
                            </svg><!-- <i class="fa-regular fa-phone"></i> -->
                            <p>+1-56-346 345</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h4>follow</h4>
                    </div>
                    <ul class="list-style">
                        <li><svg class="svg-inline--fa fa-facebook" aria-hidden="true" focusable="false"
                                data-prefix="fa-brands" data-icon="facebook" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z">
                                </path>
                            </svg><!-- <i class="fa-brands fa-facebook"></i> --> <a
                                href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
                        <li><svg class="svg-inline--fa fa-twitter" aria-hidden="true" focusable="false"
                                data-prefix="fa-brands" data-icon="twitter" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z">
                                </path>
                            </svg><!-- <i class="fa-brands fa-twitter"></i> --> <a
                                href="https://twitter.com/login?lang=en" title="">twitter</a></li>
                        <li><svg class="svg-inline--fa fa-instagram" aria-hidden="true" focusable="false"
                                data-prefix="fa-brands" data-icon="instagram" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                </path>
                            </svg><!-- <i class="fa-brands fa-instagram"></i> --> <a
                                href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
                        <li><svg class="svg-inline--fa fa-youtube" aria-hidden="true" focusable="false"
                                data-prefix="fa-brands" data-icon="youtube" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M549.7 124.1c-6.281-23.65-24.79-42.28-48.28-48.6C458.8 64 288 64 288 64S117.2 64 74.63 75.49c-23.5 6.322-42 24.95-48.28 48.6-11.41 42.87-11.41 132.3-11.41 132.3s0 89.44 11.41 132.3c6.281 23.65 24.79 41.5 48.28 47.82C117.2 448 288 448 288 448s170.8 0 213.4-11.49c23.5-6.321 42-24.17 48.28-47.82 11.41-42.87 11.41-132.3 11.41-132.3s0-89.44-11.41-132.3zm-317.5 213.5V175.2l142.7 81.21-142.7 81.2z">
                                </path>
                            </svg><!-- <i class="fa-brands fa-youtube"></i> --> <a
                                href="https://plus.google.com/discover" title="">Google+</a></li>
                        <li><svg class="svg-inline--fa fa-tiktok" aria-hidden="true" focusable="false"
                                data-prefix="fa-brands" data-icon="tiktok" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512" data-fa-i2svg="">
                                <path fill="currentColor"
                                    d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.25V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.62 74.62 0 1 0 52.23 71.18V0l88 0a121.2 121.2 0 0 0 1.86 22.17h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.14z">
                                </path>
                            </svg><!-- <i class="fa-brands fa-tiktok"></i> --> <a href="https://www.tiktok.com/explore"
                                title="">Tiktok</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Navigate</h4>
                    </div>
                    <ul class="list-style">
                        <li><a href="about.html" title="">about us</a></li>
                        <li><a href="contact.html" title="">contact us</a></li>
                        <li><a href="terms.html" title="">terms &amp; Conditions</a></li>
                        <li><a href="#" title="">RSS syndication</a></li>
                        <li><a href="sitemap.html" title="">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h4>useful links</h4>
                    </div>
                    <ul class="list-style">
                        <li><a href="#" title="">leasing</a></li>
                        <li><a href="#" title="">submit route</a></li>
                        <li><a href="#" title="">how does it work?</a></li>
                        <li><a href="#" title="">agent listings</a></li>
                        <li><a href="#" title="">view All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="widget">
                    <div class="widget-title">
                        <h4>download apps</h4>
                    </div>
                    <ul class="colla-apps">
                        <li><a href="https://play.google.com/store?hl=en" title=""><i class="ti-android"></i>
                                Android</a></li>
                        <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><svg
                                    class="svg-inline--fa fa-apple" aria-hidden="true" focusable="false"
                                    data-prefix="fa-brands" data-icon="apple" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
                                    </path>
                                </svg><!-- <i class="fa-brands fa-apple"></i> --> Iphone</a></li>
                        <li><a href="https://www.microsoft.com/store/apps" title=""><svg
                                    class="svg-inline--fa fa-windows" aria-hidden="true" focusable="false"
                                    data-prefix="fa-brands" data-icon="windows" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M0 93.7l183.6-25.3v177.4H0V93.7zm0 324.6l183.6 25.3V268.4H0v149.9zm203.8 28L448 480V268.4H203.8v177.9zm0-380.6v180.1H448V32L203.8 65.7z">
                                    </path>
                                </svg><!-- <i class="fa-brands fa-windows"></i> --> Windows</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bottombar" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Luc FOTSO 2024. All rights reserved.</span>
                <i><img src="images/credit-cards.png" alt=""></i>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js" defer></script>

<script src="../../public/js/main.min.js"></script>
<script src="../../public/js/script.js"></script>

<style type="text/css">
    svg:not(:root).svg-inline--fa {
        overflow: visible;
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }

    .svg-inline--fa {
        display: inline-block;
        display: var(--fa-display, inline-block);
        height: 1em;
        overflow: visible;
        vertical-align: -.125em
    }

    .svg-inline--fa.fa-2xs {
        vertical-align: .1em
    }

    .svg-inline--fa.fa-xs {
        vertical-align: 0
    }

    .svg-inline--fa.fa-sm {
        vertical-align: -.0714285705em
    }

    .svg-inline--fa.fa-lg {
        vertical-align: -.2em
    }

    .svg-inline--fa.fa-xl {
        vertical-align: -.25em
    }

    .svg-inline--fa.fa-2xl {
        vertical-align: -.3125em
    }

    .svg-inline--fa.fa-pull-left {
        margin-right: .3em;
        margin-right: var(--fa-pull-margin, .3em);
        width: auto
    }

    .svg-inline--fa.fa-pull-right {
        margin-left: .3em;
        margin-left: var(--fa-pull-margin, .3em);
        width: auto
    }

    .svg-inline--fa.fa-li {
        width: 2em;
        width: var(--fa-li-width, 2em);
        top: .25em
    }

    .svg-inline--fa.fa-fw {
        width: 1.25em;
        width: var(--fa-fw-width, 1.25em)
    }

    .fa-layers svg.svg-inline--fa {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0
    }

    .fa-layers-counter,
    .fa-layers-text {
        display: inline-block;
        position: absolute;
        text-align: center
    }

    .fa-layers {
        display: inline-block;
        height: 1em;
        position: relative;
        text-align: center;
        vertical-align: -.125em;
        width: 1em
    }

    .fa-layers svg.svg-inline--fa {
        -webkit-transform-origin: center center;
        transform-origin: center center
    }

    .fa-layers-text {
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform-origin: center center;
        transform-origin: center center
    }

    .fa-layers-counter {
        background-color: #ff253a;
        background-color: var(--fa-counter-background-color, #ff253a);
        border-radius: 1em;
        border-radius: var(--fa-counter-border-radius, 1em);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        color: var(--fa-inverse, #fff);
        line-height: 1;
        line-height: var(--fa-counter-line-height, 1);
        max-width: 5em;
        max-width: var(--fa-counter-max-width, 5em);
        min-width: 1.5em;
        min-width: var(--fa-counter-min-width, 1.5em);
        overflow: hidden;
        padding: .25em .5em;
        padding: var(--fa-counter-padding, .25em .5em);
        right: 0;
        right: var(--fa-right, 0);
        text-overflow: ellipsis;
        top: 0;
        top: var(--fa-top, 0);
        -webkit-transform: scale(.25);
        transform: scale(.25);
        -webkit-transform: scale(var(--fa-counter-scale, .25));
        transform: scale(var(--fa-counter-scale, .25));
        -webkit-transform-origin: top right;
        transform-origin: top right
    }

    .fa-layers-bottom-right {
        bottom: 0;
        bottom: var(--fa-bottom, 0);
        right: 0;
        right: var(--fa-right, 0);
        top: auto;
        -webkit-transform: scale(.25);
        transform: scale(.25);
        -webkit-transform: scale(var(--fa-layers-scale, .25));
        transform: scale(var(--fa-layers-scale, .25));
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right
    }

    .fa-layers-bottom-left {
        bottom: 0;
        bottom: var(--fa-bottom, 0);
        left: 0;
        left: var(--fa-left, 0);
        right: auto;
        top: auto;
        -webkit-transform: scale(.25);
        transform: scale(.25);
        -webkit-transform: scale(var(--fa-layers-scale, .25));
        transform: scale(var(--fa-layers-scale, .25));
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left
    }

    .fa-layers-top-right {
        top: 0;
        top: var(--fa-top, 0);
        right: 0;
        right: var(--fa-right, 0);
        -webkit-transform: scale(.25);
        transform: scale(.25);
        -webkit-transform: scale(var(--fa-layers-scale, .25));
        transform: scale(var(--fa-layers-scale, .25));
        -webkit-transform-origin: top right;
        transform-origin: top right
    }

    .fa-layers-top-left {
        left: 0;
        left: var(--fa-left, 0);
        right: auto;
        top: 0;
        top: var(--fa-top, 0);
        -webkit-transform: scale(.25);
        transform: scale(.25);
        -webkit-transform: scale(var(--fa-layers-scale, .25));
        transform: scale(var(--fa-layers-scale, .25));
        -webkit-transform-origin: top left;
        transform-origin: top left
    }

    .fa-1x {
        font-size: 1em
    }

    .fa-2x {
        font-size: 2em
    }

    .fa-3x {
        font-size: 3em
    }

    .fa-4x {
        font-size: 4em
    }

    .fa-5x {
        font-size: 5em
    }

    .fa-6x {
        font-size: 6em
    }

    .fa-7x {
        font-size: 7em
    }

    .fa-8x {
        font-size: 8em
    }

    .fa-9x {
        font-size: 9em
    }

    .fa-10x {
        font-size: 10em
    }

    .fa-2xs {
        font-size: .625em;
        line-height: .1em;
        vertical-align: .225em
    }

    .fa-xs {
        font-size: .75em;
        line-height: .0833333337em;
        vertical-align: .125em
    }

    .fa-sm {
        font-size: .875em;
        line-height: .0714285718em;
        vertical-align: .0535714295em
    }

    .fa-lg {
        font-size: 1.25em;
        line-height: .05em;
        vertical-align: -.075em
    }

    .fa-xl {
        font-size: 1.5em;
        line-height: .0416666682em;
        vertical-align: -.125em
    }

    .fa-2xl {
        font-size: 2em;
        line-height: .03125em;
        vertical-align: -.1875em
    }

    .fa-fw {
        text-align: center;
        width: 1.25em
    }

    .fa-ul {
        list-style-type: none;
        margin-left: 2.5em;
        margin-left: var(--fa-li-margin, 2.5em);
        padding-left: 0
    }

    .fa-ul>li {
        position: relative
    }

    .fa-li {
        left: calc(2em * -1);
        left: calc(var(--fa-li-width, 2em) * -1);
        position: absolute;
        text-align: center;
        width: 2em;
        width: var(--fa-li-width, 2em);
        line-height: inherit
    }

    .fa-border {
        border-color: #eee;
        border-color: var(--fa-border-color, #eee);
        border-radius: .1em;
        border-radius: var(--fa-border-radius, .1em);
        border-style: solid;
        border-style: var(--fa-border-style, solid);
        border-width: .08em;
        border-width: var(--fa-border-width, .08em);
        padding: .2em .25em .15em;
        padding: var(--fa-border-padding, .2em .25em .15em)
    }

    .fa-pull-left {
        float: left;
        margin-right: .3em;
        margin-right: var(--fa-pull-margin, .3em)
    }

    .fa-pull-right {
        float: right;
        margin-left: .3em;
        margin-left: var(--fa-pull-margin, .3em)
    }

    .fa-beat {
        -webkit-animation-name: fa-beat;
        animation-name: fa-beat;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-delay: var(--fa-animation-delay, 0);
        animation-delay: var(--fa-animation-delay, 0);
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
        animation-timing-function: var(--fa-animation-timing, ease-in-out)
    }

    .fa-fade {
        -webkit-animation-name: fa-fade;
        animation-name: fa-fade;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-delay: var(--fa-animation-delay, 0);
        animation-delay: var(--fa-animation-delay, 0);
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        -webkit-animation-timing-function: cubic-bezier(.4, 0, .6, 1);
        animation-timing-function: cubic-bezier(.4, 0, .6, 1);
        -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(.4, 0, .6, 1));
        animation-timing-function: var(--fa-animation-timing, cubic-bezier(.4, 0, .6, 1))
    }

    .fa-flash {
        -webkit-animation-name: fa-flash;
        animation-name: fa-flash;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-delay: var(--fa-animation-delay, 0);
        animation-delay: var(--fa-animation-delay, 0);
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        -webkit-animation-timing-function: cubic-bezier(.4, 0, .6, 1);
        animation-timing-function: cubic-bezier(.4, 0, .6, 1);
        -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(.4, 0, .6, 1));
        animation-timing-function: var(--fa-animation-timing, cubic-bezier(.4, 0, .6, 1))
    }

    .fa-flip {
        -webkit-animation-name: fa-flip;
        animation-name: fa-flip;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-delay: var(--fa-animation-delay, 0);
        animation-delay: var(--fa-animation-delay, 0);
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: var(--fa-animation-timing, ease-in-out);
        animation-timing-function: var(--fa-animation-timing, ease-in-out)
    }

    .fa-spin {
        -webkit-animation-name: fa-spin;
        animation-name: fa-spin;
        -webkit-animation-delay: 0;
        animation-delay: 0;
        -webkit-animation-delay: var(--fa-animation-delay, 0);
        animation-delay: var(--fa-animation-delay, 0);
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-duration: var(--fa-animation-duration, 2s);
        animation-duration: var(--fa-animation-duration, 2s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-timing-function: var(--fa-animation-timing, linear);
        animation-timing-function: var(--fa-animation-timing, linear)
    }

    .fa-spin-reverse {
        --fa-animation-direction: reverse
    }

    .fa-pulse,
    .fa-spin-pulse {
        -webkit-animation-name: fa-spin;
        animation-name: fa-spin;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-direction: var(--fa-animation-direction, normal);
        animation-direction: var(--fa-animation-direction, normal);
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-duration: var(--fa-animation-duration, 1s);
        animation-duration: var(--fa-animation-duration, 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        animation-iteration-count: var(--fa-animation-iteration-count, infinite);
        -webkit-animation-timing-function: steps(8);
        animation-timing-function: steps(8);
        -webkit-animation-timing-function: var(--fa-animation-timing, steps(8));
        animation-timing-function: var(--fa-animation-timing, steps(8))
    }

    @media (prefers-reduced-motion:reduce) {

        .fa-beat,
        .fa-fade,
        .fa-flash,
        .fa-flip,
        .fa-pulse,
        .fa-spin,
        .fa-spin-pulse {
            -webkit-animation-delay: -1ms;
            animation-delay: -1ms;
            -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
            -webkit-transition-duration: 0s;
            transition-duration: 0s
        }
    }

    @-webkit-keyframes fa-beat {

        0%,
        90% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        45% {
            -webkit-transform: scale(1.25);
            transform: scale(1.25);
            -webkit-transform: scale(var(--fa-beat-scale, 1.25));
            transform: scale(var(--fa-beat-scale, 1.25))
        }
    }

    @keyframes fa-beat {

        0%,
        90% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        45% {
            -webkit-transform: scale(1.25);
            transform: scale(1.25);
            -webkit-transform: scale(var(--fa-beat-scale, 1.25));
            transform: scale(var(--fa-beat-scale, 1.25))
        }
    }

    @-webkit-keyframes fa-fade {
        50% {
            opacity: .4;
            opacity: var(--fa-fade-opacity, .4)
        }
    }

    @keyframes fa-fade {
        50% {
            opacity: .4;
            opacity: var(--fa-fade-opacity, .4)
        }
    }

    @-webkit-keyframes fa-flash {

        0%,
        100% {
            opacity: .4;
            opacity: var(--fa-flash-opacity, .4);
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        50% {
            opacity: 1;
            -webkit-transform: scale(1.125);
            transform: scale(1.125);
            -webkit-transform: scale(var(--fa-flash-scale, 1.125));
            transform: scale(var(--fa-flash-scale, 1.125))
        }
    }

    @keyframes fa-flash {

        0%,
        100% {
            opacity: .4;
            opacity: var(--fa-flash-opacity, .4);
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        50% {
            opacity: 1;
            -webkit-transform: scale(1.125);
            transform: scale(1.125);
            -webkit-transform: scale(var(--fa-flash-scale, 1.125));
            transform: scale(var(--fa-flash-scale, 1.125))
        }
    }

    @-webkit-keyframes fa-flip {
        50% {
            -webkit-transform: rotate3d(0, 1, 0, -180deg);
            transform: rotate3d(0, 1, 0, -180deg);
            -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
            transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
        }
    }

    @keyframes fa-flip {
        50% {
            -webkit-transform: rotate3d(0, 1, 0, -180deg);
            transform: rotate3d(0, 1, 0, -180deg);
            -webkit-transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg));
            transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
        }
    }

    @-webkit-keyframes fa-spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @keyframes fa-spin {
        0% {
            -webkit-transform: rotate(0);
            transform: rotate(0)
        }

        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    .fa-rotate-90 {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg)
    }

    .fa-rotate-180 {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .fa-rotate-270 {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }

    .fa-flip-horizontal {
        -webkit-transform: scale(-1, 1);
        transform: scale(-1, 1)
    }

    .fa-flip-vertical {
        -webkit-transform: scale(1, -1);
        transform: scale(1, -1)
    }

    .fa-flip-both,
    .fa-flip-horizontal.fa-flip-vertical {
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1)
    }

    .fa-rotate-by {
        -webkit-transform: rotate(none);
        transform: rotate(none);
        -webkit-transform: rotate(var(--fa-rotate-angle, none));
        transform: rotate(var(--fa-rotate-angle, none))
    }

    .fa-stack {
        display: inline-block;
        vertical-align: middle;
        height: 2em;
        position: relative;
        width: 2.5em
    }

    .fa-stack-1x,
    .fa-stack-2x {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        z-index: auto;
        z-index: var(--fa-stack-z-index, auto)
    }

    .svg-inline--fa.fa-stack-1x {
        height: 1em;
        width: 1.25em
    }

    .svg-inline--fa.fa-stack-2x {
        height: 2em;
        width: 2.5em
    }

    .fa-inverse {
        color: #fff;
        color: var(--fa-inverse, #fff)
    }

    .fa-sr-only,
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0
    }

    .fa-sr-only-focusable:not(:focus),
    .sr-only-focusable:not(:focus) {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0
    }

    .svg-inline--fa .fa-primary {
        fill: currentColor;
        fill: var(--fa-primary-color, currentColor);
        opacity: 1;
        opacity: var(--fa-primary-opacity, 1)
    }

    .svg-inline--fa .fa-secondary {
        fill: currentColor;
        fill: var(--fa-secondary-color, currentColor);
        opacity: .4;
        opacity: var(--fa-secondary-opacity, .4)
    }

    .svg-inline--fa.fa-swap-opacity .fa-primary {
        opacity: .4;
        opacity: var(--fa-secondary-opacity, .4)
    }

    .svg-inline--fa.fa-swap-opacity .fa-secondary {
        opacity: 1;
        opacity: var(--fa-primary-opacity, 1)
    }

    .svg-inline--fa mask .fa-primary,
    .svg-inline--fa mask .fa-secondary {
        fill: #000
    }

    .fa-duotone.fa-inverse,
    .fad.fa-inverse {
        color: #fff;
        color: var(--fa-inverse, #fff)
    }
</style>

</body>

</html>