</div>
<div class="bottombar" style="margin-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© Luc FOTSO 2024. All rights reserved.</span>
                <i><img src="images/credit-cards.png" alt=""></i>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js" defer></script>

<script src="../../public/js/main.min.js"></script>
<script src="../../public/js/script.js"></script>

</body>	
</html>