        <%- include('./partials/header') %>
        <div class="central">

        <h1>Express Movies : les sites des cinéphiles</h1>
        <div>
            Etes vous plutot films ou series ? peu importe de toute facon vous trouverez votre bonheur ici
        </div>
    
    </div>
    <%- include('./partials/footer') %>    
